<%= form_for @helper_object, :html => { :class => "form-horizontal mock" } do |f| %>
  <% if @helper_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@helper_object.errors.count, "error") %> prohibited this helper_object from being saved:</h2>

      <ul>
      <% @helper_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %><br>
    <div class="col-lg-10">
      <%= f.text_area :title, :rows => "2", :class => 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :text, :class => 'control-label col-lg-2' %><br>
    <div class="col-lg-10">
      <%= f.text_area :text, :rows => "8", :class => 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :font, :class => 'control-label col-lg-2' %><br>
    <div class="col-lg-10">
      <%= f.text_area :font, :rows => "1", :class => 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
