<%= form_for @mock, :html => { :class => "form-horizontal mock" } do |f| %>

  <% if @mock.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@mock.errors.count, "error") %> prohibited this mock from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @mock.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :year, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :year, :class => 'form-control' %>
    </div>
    <%=f.error_span(:year) %>
  </div>
  <div class="form-group">
    <%= f.label :edition, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :edition, :class => 'form-control' %>
    </div>
    <%=f.error_span(:edition) %>
  </div>
  <div class="form-group">
    <%= f.label :application_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :application_date, :class => 'form-control' %>
    </div>
    <%=f.error_span(:application_date) %>
  </div>
  <div class="form-group">
    <%= f.label :notice, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :notice, :class => 'form-control' %>
    </div>
    <%=f.error_span(:notice) %>
  </div>
  <div class="form-group">
    <%= f.label :institution_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :institution_id, options_for_select(Institution.all.map{ |i| [i.title, i.id]}), :class => 'form-control' %>
    </div>
    <%=f.error_span(:institution_id) %>
  </div>
  <div class="form-group">
    <%= f.label :organizer_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :organizer_id, options_for_select(Organizer.all.map{ |i| [i.title, i.id]}), :class => 'form-control' %>
    </div>
    <%=f.error_span(:organizer_id) %>
  </div>
  <div class="form-group">
    <%= f.label :category_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :category_id, options_for_select(Category.all.map{ |i| [i.title, i.id]}), :class => 'form-control' %>
    </div>
    <%=f.error_span(:category_id) %>
  </div>
  <div class="form-group">
    <%= f.label :area_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :area_id, options_for_select(Area.all.map{ |i| [i.title, i.id]}), :class => 'form-control' %>
    </div>
    <%=f.error_span(:area_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                mocks_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
