<%- model_class = Mock -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @mock.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:year) %>:</strong></dt>
  <dd><%= @mock.year %></dd>
  <dt><strong><%= model_class.human_attribute_name(:edition) %>:</strong></dt>
  <dd><%= @mock.edition %></dd>
  <dt><strong><%= model_class.human_attribute_name(:application_date) %>:</strong></dt>
  <dd><%= @mock.application_date.strftime("%d/%m/%Y") %></dd>
  <dt><strong><%= model_class.human_attribute_name(:notice) %>:</strong></dt>
  <dd><%= @mock.notice %></dd>
  <dt><strong><%= model_class.human_attribute_name(:institution_id) %>:</strong></dt>
  <dd><%= @mock.institution.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:organizer_id) %>:</strong></dt>
  <dd><%= @mock.organizer.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category_id) %>:</strong></dt>
  <dd><%= @mock.category.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:area_id) %>:</strong></dt>
  <dd><%= @mock.area.title %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              mocks_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_mock_path(@mock), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              mock_path(@mock),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

<% @mock.exams.each do |e| %>
  <% if e.title %>
    <p>
      <h2><%= link_to e.title, exam_path(e) %></h2>
    </p>
  <% end %>
<% end %>



<%= form_for([@mock, @mock.exams.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>



<%= link_to 'Nova Prova', new_exam_path, :class => 'btn btn-default'  %>