<%= form_for @user_exam, :html => { :class => "form-horizontal user_exam" } do |f| %>

  <% if @user_exam.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user_exam.errors.count, "error") %> prohibited this user_exam from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user_exam.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :area_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :area_id, options_for_select(Area.all.map{ |i| [i.title, i.id]}), :class => 'form-control' %>
    </div>
    <%=f.error_span(:area_id) %>
  </div>
  <div class="form-group">
    <%= f.label :date_application, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_field(:date_application, :class => 'form-control') %>
    </div>
    <%=f.error_span(:date_application) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_exams_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
