<!DOCTYPE html>
<html>
	<head>
		<title>Simuladao 1.0 alfa</title><%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %><%= javascript_include_tag 'application', 'data-turbolinks-track' => true %><%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container-fluid">
			<% if user_signed_in? && current_user.admin? %>
				<nav class="navbar navbar-inverse navbar-fixed-top">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							</button>
						</div>
						<div id="navbar" class="navbar-collapse collapse">
							<%= link_to 'Painel Adminstrativo Simulados', root_path, :class => 'navbar-brand' %>
							<ul class="nav navbar-nav navbar-right">
						        <li class="dropdown">
						          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CADASTROS<span class="caret"></span></a>
						          <ul class="dropdown-menu">
						            <li><%= link_to 'Usuários', users_path %></li>
						            <li><%= link_to 'Simulados', mocks_path %></li>
						            <li><%= link_to 'Questões', questions_path %></li>
						            <li><%= link_to 'Provas Personalizadas', user_exams_path %></li>
						            <li><%= link_to 'Instituições', institutions_path %></li>
						            <li><%= link_to 'Organizadores', organizers_path %></li>
						            <li><%= link_to 'Categorias', categories_path %></li>
						            <li><%= link_to 'Áreas do Conhecimento', areas_path %></li>
						            <li><%= link_to 'Tipos de questão', question_types_path %></li>
						          </ul>
						        </li>
								<% if user_signed_in? %>
									<li><%= link_to( current_user.name, edit_user_registration_path) %></li>
									<li><%= link_to t('.sign_out', default: 'Sair'), destroy_user_session_path, :method => :delete %></li>
								<% else %>
									<li><%= link_to(t('.sign_in', default: 'Entrar'), new_user_session_path) %></li>
									<li><%= link_to( t('.sign_up', default: 'Registrar-se'), new_user_registration_path) %></li>
								<% end %>
							</ul>
						</div><!--/.nav-collapse -->
					</div><!--/.container-fluid -->
				</nav>
	        <% else %>
	        	<%= link_to t('.sign_out', default: 'Sair'), destroy_user_session_path, :method => :delete if user_signed_in? %>
	        	<li><%= link_to(t('.sign_in', default: 'Entrar'), new_user_session_path) unless user_signed_in? %></li>
	        <% end %>
			<%# if notice || alert %>
    		<!--   <p class="notice alert alert-dismissable"><%# notice %></p>-->
    		<!--   <p class="alert alert-dismissable"><%# alert %></p>-->
    		<%# end %>
    		 
    		 <!--helper do bootstrap que retorna o alert com a cor correta-->
			<div class="row">
				<%= bootstrap_flash %>
			</div>
			<%= yield %>
		</div>
	</body>
</html>
